/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
# Tooling caches
.calva/
.clj-kondo/.cache/
.lsp/.cache/
# Editors
.vscode/
.idea/
.idea/
# OS
.DS_Store